body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-size: 22px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color:#D1D5F0 ;
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:#939DDC ;
  color:#EBEBEB ;
}
.saveBtn:hover,.deleteBtn:hover{
  background-color:#1E265C ;
  color:#E9D985 ;
}
.saveBtn i:hover,.deleteBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.deleteBtn {
  border-left: 1px;
  border-radius: 15px;
  background-color: #939DDC;
  color:#EBEBEB;
}
